@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    The main task of this project, to create artifacts, so what do you need to do it?
    You can follow the next steps:
</p>
<p>
    - Go to Artifacts Types in Header of page, then click on Create New, when new page is loaded you need to write the Name of artifact type and short description of it and click on Create button.
</p>
<p>
    - Go to Problem domains in Header of page, then click on Create New, when new page is loaded you need to write the Name of problem domain and short description of it and click on Create button.
</p>
<p>
    - Go to Projects in Header of page, then click on Create New, when new page is loaded you need to write the Name of project in which some artifacts are used, short description of it, project Owner and the last release, and click on Create button.
</p>
<p>
    - Go to Tags in Header of page, then click on Create New, when new page is loaded you need to write the Name of tag, short description and write number of tag usage of it and click on Create button.
</p>
<p>
    - Go to Ratings in Header of page, then click on Create New, when new page is loaded you need to write the Name of rating, short description and write rating value of it and click on Create button.
</p>
<p>
    -After all properties were created, you can create Artifact, go to Artifacts in Header of page, then click on Create New and choose date, write version of artifact and choose all needed properties; all properties, except Artifact type could have multiple values, to make it, just press on “crtl” button and click on needed property. Then click on Create.
</p>
<p>
    In Artifact page, you have ability to make search requests. There are 2 types of search. The “All Matches” search returns the artifacts which have all chosen properties. The second search – “Any Category matches” returns the artifacts which have at least one coincidence in each property category.
    To make search you need to be on Artifacts page, then choose properties which you need, choose one of two search type and click on Search button. The result will be shown in table, under Create New button.
</p>

