@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<div class="jumbotron">
    <h1>Repository</h1>
    <p class="lead">Repository is a free application to store all kinds of files, including binary ones. It includes anything from zipped up source codes, to build results, to things like docker containers as well.</p>
    <p><a href="https://assessment-tools.ca.com/tools/continuous-delivery-tools/en/artefact-repository-management" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            Try to create your first artifact type!
        </p>
        @Html.ActionLink("Start", "Create", new { controller = "ArtTypes" }, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-6">
        <h2>Get more rools</h2>
        <p>Check some tools related with software artifacts management</p>
        <p><a target="_blank" onClick="_gaq.push(['_setCustomVar',
      1,             // This custom var is set to slot #1.  Required parameter.
      'User Type',   // The name of the custom variable.  Required parameter.
      'Member',      
       2             // Sets the scope to session-level.  Optional parameter.
   ]);" class="btn btn-default" href="https://assessment-tools.ca.com/tools/continuous-delivery-tools/en/artefact-repository-management">Learn more &raquo;</a></p>
    </div>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161429060-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-161429060-1');
        gtag('create', 'UA-161429060-1', 'auto', 'buttonTracker');
        var dimensionValue = 'ButtonClick';
        ga('set', 'dimension1', dimensionValue);
        _gaq.push(['_setCustomVar',
      1,             // This custom var is set to slot #1.  Required parameter.
      'User Type',   // The name of the custom variable.  Required parameter.
      'Member',      // Sets the value of "User Type" to "Member" or "Visitor" depending on status.  Required parameter.
       2             // Sets the scope to session-level.  Optional parameter.
   ]);
    </script>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ?
        "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src=’" + gaJsHost + "googleanalytics.com/ga.js’ type=’text/javascript’%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try{
        var pageTracker = _gat._getTracker('UA-161429060-1');
        pageTracker._trackPageview();
        pageTracker._setVar("label");
        } catch(err) {}
    </script>
    <script type="text/javascript" src="@Url.Content("/Scripts/analytic.js")"></script>
</div>